<?xml version="1.0" ?>

<!--
# Copyright (c) 2023, ANTOBOT LTD.
# All rights reserved.

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 
# # # Code Description:     URDF for AntoBot Ant v3
# Contact: william.eaton@antobot.ai
# # # #  # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-->

<robot name="antobot_ant" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Position for gazebo-->
  <xacro:arg name="referenceLatitude"   default="51.45315122695476" />
  <xacro:property name="referenceLatitude"    value="$(arg referenceLatitude)" />
        
  <xacro:arg name="referenceLongitude"   default="-0.6079828525888944" />
  <xacro:property name="referenceLongitude"    value="$(arg referenceLongitude)" />   

  <xacro:arg name="referenceHeading"   default="90.0" />
  <xacro:property name="referenceHeading"    value="$(arg referenceHeading)" />  

  <!-- Need argument to get from launch file -->
  <xacro:arg name="params_path" default="../config/platform_config.yaml"/> 

  <!-- Need seperate property for xacro inorder processing -->
  <xacro:property name="params_path" value="$(arg params_path)"/> 

  <!-- Read in the yaml dict as mp (short for model parameters) currently used for C16 angle-->
  <xacro:property name="mp" value="${xacro.load_yaml(params_path)}"/> 


  <!-- Ant Robot -->
  <xacro:macro name="antobot_ant">
    <xacro:property name="M_PI" value="3.1415926535897931" /> 
    
    <!-- Base link -->
    <link name="base_link" />
    <link name="robot_base_link">
      <visual>
        <geometry>
          <mesh filename="package://antobot_description/meshes/ant_v3_body.dae" scale="1 1 1"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </visual>
      <collision>
       <geometry>
          <mesh filename="package://antobot_description/meshes/ant_v3_body.dae" scale="1 1 1"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
      <inertial>
        <origin xyz="0 0 0"/>
        <mass value="50"/>
        <inertia ixx="1.219624785" ixy="0.0" ixz="-0.984790199"
                 iyy="2.134816831" iyz="0.0"
                 izz="2.304314375" />
      </inertial>
    </link>
    
    <joint name="robot_base_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="base_link"/>
      <child link="robot_base_link" />
    </joint>

 
    <!-- Wheels link -->
    
    <xacro:include filename="$(find antobot_description)/urdf/ant_wheel.urdf.xacro"/>
    <xacro:ant_wheel name='left_front' originX='0.26' originY='0.3' originZ='-0.013975' rotZ='${M_PI}' centreOffset='0.06'/>
    <xacro:ant_wheel name='left_rear' originX='-0.26' originY='0.3' originZ='-0.013975' rotZ='${M_PI}' centreOffset='0.06'/>
    <xacro:ant_wheel name='right_rear' originX='-0.26' originY='-0.3' originZ='-0.013975' rotZ='0' centreOffset='-0.06'/>
    <xacro:ant_wheel name='right_front' originX='0.26' originY='-0.3' originZ='-0.013975' rotZ='0' centreOffset='-0.06'/>


    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/</robotNamespace>
      </plugin>
    </gazebo>

    <!-- Gazebo ground truth-->
    <gazebo>
    <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>10.0</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>ground_truth/state</topicName>
      <gaussianNoise>0.0</gaussianNoise>
      <frameName>world</frameName>
      <xyzOffset>0 0 0</xyzOffset>
      <rpyOffset>0 0 0</rpyOffset>
    </plugin>
    </gazebo>
 
    <xacro:property name="lidar_list" value="${mp['lidar']}" />

    <!-- Leishen C16 front lidar -->
    <xacro:if value="${'c16' in lidar_list}"> 
      <xacro:include filename="$(find antobot_description)/urdf/c16.urdf.xacro"/>
      <xacro:property name="location" value="${mp['lidar']['c16']['location']}" />
      <xacro:c16 link_prefix='' joint_prefix='' position='${location}'/>
      <xacro:c16_gazebo robot_ns='' position='${location}'/>

      <joint name="lidar_c16_joint_${mp['lidar']['c16']['location']}" type="fixed">
        <parent link="robot_base_link"/>
        <child link="laser_link_${mp['lidar']['c16']['location']}_static"/>
        <!-- <origin xyz="0.615 0.145 0.427" rpy="0 0 3.15"/> --><!-- When mounted low, on the left of the robot head -->
        <origin xyz="${mp['lidar']['c16']['px']} ${mp['lidar']['c16']['py']} ${mp['lidar']['c16']['pz']}" rpy="${mp['lidar']['c16']['r']} ${mp['lidar']['c16']['p']} ${mp['lidar']['c16']['y']}"/> 
      </joint>
    </xacro:if>

    <!-- Leishen C16 rear lidar -->
    <xacro:if value="${'c16_2' in lidar_list}">
      <xacro:include filename="$(find antobot_description)/urdf/c16.urdf.xacro"/>
      <xacro:property name="location" value="${mp['lidar']['c16_2']['location']}" />
      <xacro:c16 link_prefix='' joint_prefix='' position='${location}'/>
      <xacro:c16_gazebo robot_ns='' position='${location}'/>

      <joint name="c16_lidar_joint_${mp['lidar']['c16_2']['location']}" type="fixed">
        <parent link="robot_base_link"/>
        <child link="laser_link_${mp['lidar']['c16_2']['location']}_static"/>
        <origin xyz="${mp['lidar']['c16_2']['px']} ${mp['lidar']['c16_2']['py']} ${mp['lidar']['c16_2']['pz']}" rpy="${mp['lidar']['c16_2']['r']} ${mp['lidar']['c16_2']['p']} ${mp['lidar']['c16_2']['y']}"/> 
      </joint>
    </xacro:if>
    
    <!-- GPS -->
    <joint name="gps_joint" type="fixed">
      <parent link="robot_base_link"/>
      <child link="gps_frame"/>
      <origin xyz="${mp['gps']['urcu']['px']} ${mp['gps']['urcu']['py']} ${mp['gps']['urcu']['pz']}" rpy="${mp['gps']['urcu']['r']} ${mp['gps']['urcu']['p']} ${mp['gps']['urcu']['y']}"/> 
    </joint>
    <link name="gps_frame">
      <inertial>
        <mass value="0.270" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="2.632e-4" ixy="0" ixz="0" iyy="2.632e-4" iyz="0" izz="1.62e-4" />
      </inertial>	
    </link>

    <gazebo>
      <plugin name="gazebo_ros_gps" filename="libhector_gazebo_ros_gps.so" >
        <updateRate>4.0</updateRate>
        <bodyName>robot_base_link</bodyName> <!-- GPS plugin in simulation is publishing gps topic in base_link position - affecting EKF -->
        <frameId>robot_base_link</frameId>
        <topicName>/antobot_gps</topicName>
        <velocityTopicName>/am_gps_vel</velocityTopicName>
        <referenceLatitude>${referenceLatitude}</referenceLatitude>
        <referenceLongitude>${referenceLongitude}</referenceLongitude>
        <referenceHeading>${referenceHeading}</referenceHeading>
        <referenceAltitude>10</referenceAltitude>
        <offset>0 0 0</offset>
        <drift>0.0 0.0 0.0</drift>
        <gaussianNoise>0.01 0.01 0.01</gaussianNoise>
        <velocityDrift>0 0 0</velocityDrift>
        <velocityGaussianNoise>0.5 0.5 0.5</velocityGaussianNoise>
      </plugin>
    </gazebo>
    
  

    <!-- imu -->
    <joint name="imu_joint" type="fixed">
      <parent link="base_link"/>
      <child link="imu_frame"/>
      <origin xyz="-0.1146 -0.01941 0.1832" rpy="0 0 0"/>
    </joint>

    <link name="imu_frame">
      <inertial>
        <mass value="0.270" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="2.632e-4" ixy="0" ixz="0" iyy="2.632e-4" iyz="0" izz="1.62e-4" />
      </inertial>
    </link> 
    <gazebo>
      <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
        <alwaysOn>true</alwaysOn>
        <bodyName>imu_frame</bodyName>
        <topicName>/imu/data</topicName>
        <serviceName>imu_service</serviceName>
        <gaussianNoise>0.0</gaussianNoise>
        <updateRate>20.0</updateRate>
      </plugin>
    </gazebo>

    <!-- Ultrasonics-->

    <!-- Actual sensors output on combined topic /antobridge/uss_dist -->

    <xacro:include filename="$(find antobot_description)/urdf/ultrasonic.urdf.xacro"/>
    <xacro:ultrasonic id="1" xyz="0.6066 0.2866 0.2835" rpy="0 0 0.785398" />
    
    <xacro:include filename="$(find antobot_description)/urdf/ultrasonic.urdf.xacro"/>
    <xacro:ultrasonic id="2" xyz="0.732599 0.08 0.277043" rpy="0 0 0" />

    <xacro:include filename="$(find antobot_description)/urdf/ultrasonic.urdf.xacro"/>
    <xacro:ultrasonic id="3" xyz="0.6066 -0.2866 0.2835" rpy="0 0 -0.785398" />

    <xacro:include filename="$(find antobot_description)/urdf/ultrasonic.urdf.xacro"/>
    <xacro:ultrasonic id="4" xyz="-0.0075 -0.312247 0.284043" rpy="0 0 -1.5708" />

    <xacro:include filename="$(find antobot_description)/urdf/ultrasonic.urdf.xacro"/>
    <xacro:ultrasonic id="5" xyz="-0.621588 -0.286588 0.283543" rpy="0 0 -2.35619" />

    <xacro:include filename="$(find antobot_description)/urdf/ultrasonic.urdf.xacro"/>
    <xacro:ultrasonic id="6" xyz="-0.747596 -0.08 0.277043" rpy="0 0 3.14159" />

    <xacro:include filename="$(find antobot_description)/urdf/ultrasonic.urdf.xacro"/>
    <xacro:ultrasonic id="7" xyz="-0.621588 0.286589 0.283543" rpy="0 0 2.35619" />

    <xacro:include filename="$(find antobot_description)/urdf/ultrasonic.urdf.xacro"/>
    <xacro:ultrasonic id="8" xyz="-0.0075 0.312247 0.284043" rpy="0 0 1.5708" />



    <!-- For scouting - left -->
    <joint name="scouting_joint_left" type="fixed">
      <origin xyz="0.641 0.03 0.6" rpy="-${pi/2} 0.0 0.0"/>
      <parent link="robot_base_link"/>
      <child link="scouting_frame_left"/>
    </joint>

    <link name="scouting_frame_left"/>

    <!-- For scouting - right -->
    <joint name="scouting_joint_right" type="fixed">
      <origin xyz="0.641 0.03 0.6" rpy="${pi/2} ${pi} 0.0"/>
      <parent link="robot_base_link"/>
      <child link="scouting_frame_right"/>
    </joint>

    <link name="scouting_frame_right"/>
    

  </xacro:macro>
  <xacro:antobot_ant/>
</robot>
