<?xml version="1.0"?>

<!--
# Copyright (c) 2023, ANTOBOT LTD.
# All rights reserved.

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 
# # # Code Description:     URDF for Lieshen CH128X1 Lidar
# Contact: william.eaton@antobot.ai
# # # #  # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-->


<robot xmlns:xacro="http://ros.org/wiki/xacro">


  <xacro:macro name="ch128" 
               params="link_prefix:=''
                       joint_prefix:=''
                       position:='front'">

    <!-- Lidar Center (Emission point) -->
    <link name="laser_link_ch128_${position}">
    </link>

    <joint name="ch128_lidar_${position}_frame_joint" type="fixed">
        <parent link="laser_link_${position}"/>
        <child link="laser_link_${position}_frame"/>
        <origin xyz="0 0 -0.046093" rpy="0 0 0"/> 
    </joint>

    <!-- The lidar frame position - for visualisation -->
    <link name="laser_link_ch128_${position}_frame">
      <inertial>
        <mass value="1.0"/>
        <origin xyz="0 0 0"/>
        <inertia
          ixx="0.0003947" ixy="0.0" ixz="3.3365e-8"
          iyy="2.417e-5" iyz="0.0"
          izz="0.0003973"/>
      </inertial>
      <visual>
        <geometry>
            <mesh filename="package://antobot_description/meshes/ls_ch128x1_lowPoly.dae" scale="1 1 1" />      
        </geometry>
      </visual>
      <collision>
        <geometry>
            <mesh filename="package://antobot_description/meshes/ls_ch128x1_lowPoly.dae" scale="1 1 1" />      
        </geometry>
      </collision>
    </link>

  </xacro:macro>

  <xacro:macro name="ch128_gazebo"
               params="robot_ns:=''
               position='front'">

    <xacro:property name="link_prefix" value=""/>
    <xacro:if value="${robot_ns != '' and robot_ns != '/'}">
      <xacro:property name="link_prefix" value="${robot_ns}/"/>
    </xacro:if>

    <gazebo reference="laser_link_${position}">
      <sensor type="ray" name="ch128_${position}">
        <always_on>true</always_on>
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>5</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>1000</samples>
              <resolution>1</resolution>
              <min_angle>0</min_angle>
              <max_angle>6.28318</max_angle>
            </horizontal>
            <vertical>
              <samples>16</samples>
              <resolution>1</resolution>
              <min_angle>-0.2618</min_angle>
              <max_angle>0.2618</max_angle>
            </vertical>
          </scan>
            <range>
            <min>0.4</min>
            <max>20</max>
            <resolution>0.01</resolution>
          </range>
        </ray>
        <!--
        <plugin name="plugin_1" filename="libgazebo_ros_velodyne_laser.so">
            <gaussianNoise>0.00</gaussianNoise>
            <alwaysOn>true</alwaysOn>
            <updateRate>5</updateRate>
            <topicName>/c16_${position}/lslidar_point_cloud</topicName>
            <frameName>laser_link_ch128_imu_${position}</frameName>
        </plugin>
        -->
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>

