<!-- 
The primary purpose of this launch file is to launch the ekf_map and 
ekf_odom parameters for sensor fusion localiastion.
The ekf_odom is for the local parameters like odometry and IMU, 
ekf_map is the for the global parameters like RTK GNSS, wheel odometry and IMU.

 -->
<launch>
   <!-- yaw_offset parameter to correct the heading errors-->
   <arg name="yaw_offset" default="0.0" />
   <node if="true" pkg="robot_localization" type="ekf_localization_node" name="ekfOdom_node" respawn="false" output="screen" launch-prefix="taskset -c 0,1,2,3,4,5">
		<rosparam command="load" file="$(find antobot_ekf)/params/ekf_odom.yaml" />
		<remap from="odometry/filtered"   to="odometry/ekfOdom"/> 
   </node> 
<!-- Launch navsat transform-->
<include file="$(find antobot_ekf)/launch/navsat_transform.launch"></include>
<!-- Defines the ekf_map parameters -->
   <node pkg="robot_localization" type="ekf_localization_node" name="ekfMap_node" respawn="false" output="screen" launch-prefix="taskset -c 0,1,2,3,4,5">
         <rosparam command="load" file="$(find antobot_ekf)/params/ekf_map.yaml" />
   </node> 
<!-- Runs the node to service call to check if the /odometry/filtered is getting published-->
   <node if="false" name="initFilter1" pkg="data_visualisation" type="initFilter.py" output="screen" />
</launch> 
