<?xml version="1.0"?>

<model>
  <name>windsor_terrain</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Will Eaton</name>
    <email>william.eaton@antobot.ai</email>
  </author>

  <description>
    A terrain model based on a section of Windsor Great Park.
  </description>

</model>
