[submodule "AntobotDevices"]
	path = AntobotDevices
	url = https://github.com/Antobot/AntobotDevices.git
[submodule "AntobotPlatform"]
	path = AntobotPlatform
	url = https://github.com/Antobot/AntobotPlatform.git
[submodule "AntoSim"]
	path = AntoSim
	url = https://github.com/Antobot/AntoSim.git
