<!--

# Copyright (c) 2023, ANTOBOT LTD.
# All rights reserved.

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 

# # # Code Description:     Launches the nodes to allow joystick control of the robot.

# Contact: daniel.freer@antobot.ai

# # # #  # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-->

<launch>

  <node name="joy_node" pkg="joy" type="joy_node">
    <param name="dev" value="/dev/input/js0" />
    <remap from="joy" to="joy_orig"/>
  </node>
  <!-- remap joy to emulate ps3joy mappings -->
  <node name="joy_remap" pkg="joy" type="joy_remap.py">
    <remap from="joy_in" to="joy_orig"/>
    <remap from="joy_out" to="joy"/>
    <rosparam command="load" file="$(find joy)/config/gamepad.yaml"/>
  </node>

  <!-- AntobotSDK-specific joystick teleoperation node-->
  <node name="antobot_tel_joy" pkg="antobot_joystick_teleop" type="antobot_tel_joy.py" output="screen"></node>

</launch>

