<!--
# Copyright (c) 2023, ANTOBOT LTD.
# All rights reserved.

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 
# Description:   Launcher for calibration code and ekf launcher node (launches ekf nodes when initial calibration is done)
#                Auto calibration python version uses 10% of CPU, cpp version uses 0.4%
# Contact: soyoung.kim@antobot.ai
# # # #  # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-->

<launch>

  <arg name="use_cpp" default="true" />

  <group if="$(arg use_cpp)">
    <include file="$(find antobot_heading)/launch/auto_calibration_cpp.launch"></include>
  </group>

  <group unless="$(arg use_cpp)">
    <include file="$(find antobot_heading)/launch/auto_calibration_python.launch"></include>
  </group>

  <node pkg="antobot_heading" type="antobot_heading_ekf_launcher.py" name="antobot_heading_ekf_launcher" output="screen"> 
  </node>

</launch> 