<!--

# Copyright (c) 2023, ANTOBOT LTD.
# All rights reserved.

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 

# # # Code Description:     Launches the necessary files for operation and autonomous navigation of the small robot.

# Contact: daniel.freer@antobot.ai

# # # #  # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-->

<launch>

	<!-- controllers -->
	<include if="true" file="$(find antobot_base)/launch/ant_controller.launch"></include>

	<!-- navigation sensors -->
	<include if="true" file="$(find antobot_navigation)/launch/antobot_sensors.launch"></include>
	
	<!-- IMU calibration -->
	<include if="true" file="$(find antobot_heading)/launch/antobot_heading_launcher.launch"></include>
	
	<!-- robot description -->
	<include if="true" file="$(find antobot_description)/launch/param_ant_v3.launch"></include>

	<!-- Master Teleop -->
	<node if="true" pkg="antobot_tel" type="antobot_teleop.py" name="master_teleop" />	
	
	<!-- Joystick Teleop -->
	<include if="true" file="$(find antobot_joystick_teleop)/launch/antobot_tel_joy.launch"></include>

	<!-- antobot_safety -->
	<include if="true" file="$(find antobot_safety)/launch/antobot_cmd_vel_mux.launch" />
	<node if="true" pkg="antobot_safety" type="antobot_safety_node" name="antobot_safety_node" output="screen"/>

	<!-- Camera Manager -->
	<include if="false" file="$(find antobot_datamanager)/launch/cam_manager.launch" />

	<!-- Move base (for zed camera)-->
	<include if="false" file="$(find antobot_navigation)/launch/move_base.launch" />

	<!-- AntoSupervisor -->
	<node if="true" pkg="antobot_datamanager" type="anto_supervisor.py" name="anto_supervisor" output="log"/>
	<node if="true" pkg="antobot_datamanager" type="softshutdownsrv.py" name="soft_shutdown_server" output="screen"/>

	<!-- OPC-UA server launch-->
	<include if="false" file="$(find ac_opcua)/launch/rosopcua_antobot.launch"></include>
 
	<!-- HMI -->
	<node if="true" pkg="antobot_hmi" type="hmi_xavier.py" name="anto_HMIbridge" output="log"/>
</launch>
