<!--

# Copyright (c) 2023, ANTOBOT LTD.
# All rights reserved.

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 

# # # Code Description:     Launches the necessary files for operation and autonomous navigation of the small robot.

# Contact: daniel.freer@antobot.ai

# # # #  # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-->

<launch>

	<!-- controllers -->
	<include if="true" file="$(find antobot_control)/launch/ant_controller.launch"></include>

	<!-- navigation sensors -->
	<include if="true" file="$(find antobot_navigation)/launch/antobot_sensors.launch"></include>
	
	<!-- IMU calibration -->
	<node if="true" pkg="antobot_heading" type="heading_ekf_launcher.py" name="heading_launch_node"></node>
	
	<!-- robot description -->
	<include if="true" file="$(find antobot_description)/launch/param_ant_v3.launch"></include>

	<!-- Master Teleop -->
	<node if="true" pkg="antobot_tel" type="antobot_teleop.py" name="master_teleop" />	
	
	<!-- Joystick Teleop -->
	<include if="true" file="$(find antobot_joystick_teleop)/launch/antobot_tel_joy.launch"></include>

	<!-- antobot_safety -->
	<include if="true" file="$(find antobot_safety)/launch/cmd_vel_mux.launch" />
	<node if="true" pkg="antobot_safety" type="antobot_safety_node" name="antobot_safety_node" output="screen"/>

	<!-- Camera Manager -->
	<include if="true" file="$(find antobot_devices_camera)/launch/cam_manager.launch" />

	<!-- Move base (for zed camera)-->
	<include if="true" file="$(find antobot_navigation)/launch/move_base.launch" />

	<!-- AntoSupervisor -->
	<node if="true" pkg="antobot_monitor" type="softShutdown.py" name="soft_shutdown" output="log"/>
	<node if="true" pkg="antobot_monitor" type="robotMonitor.py" name="robot_monitor" output="log"/>
        <node if="true" pkg="antobot_monitor" type="urcuMonitor.py" name="urcu_monitor" output="log"/>

	<!-- HMI -->
	<node if="true" pkg="antobot_hmi" type="hmi_xavier.py" name="anto_HMIbridge" output="log"/>
</launch>
