<!--
# Copyright (c) 2022, ANTOBOT LTD.
# All rights reserved.

# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
# "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
# LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
# A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
# OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
# SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
# LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
# DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
# THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
# OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.


# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 

# # # Code Description:     Launches the necessary files for operation and autonomous navigation of the small robot.

# Contact: daniel.freer@antobot.ai

# # # #  # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-->

<launch>
	<arg name="use_rtk_yaw_launcher" default="true" />

	<!-- controllers -->
	<include if="true" file="$(find antobot_base)/launch/VP1_controller.launch"></include>

	<!-- navigation sensors -->
	<include if="true" file="$(find am_sensors)/launch/am_sensors.launch"></include>
	
	<!-- ekf -->

	<!-- instead of ekf, we use rtk_yaw_launcher to prompt which imu-gps configuration to use -->
	<node if="$(arg use_rtk_yaw_launcher)" pkg="am_heading" type="heading_launcher.py" name="rtk_yaw_launcher_node" output="log" />

	<!-- robot description -->
	<include if="true" file="$(find antobot_description)/launch/vp1_param.launch"></include>
	
	<!-- move base nodes -->
	<include if="true" file="$(find am_nav)/launch/move_base.launch"></include>

	<!-- MQTT Interface node -->
	<node if="false" pkg="ac_mqtt" type="mqtt_interface_node.py" name="mqtt_interface_node" />

	<!-- Master Teleop -->
	<node if="true" pkg="am_tel" type="am_teleop.py" name="master_teleop" />	
	
	<!-- Joystick Teleop -->
	<include if="true" file="$(find joystick_teleop)/launch/am_tel_joy.launch"></include>

	
	<!-- am_safety -->
	<include if="true" file="$(find am_safety)/launch/standalone.launch" />
        <node if="true" pkg="am_safety" type="am_safety_node" name="am_safety_node" output="screen"/>

	<!-- Camera Manager -->
	<node if="true" pkg="anto_manager" type="av_cam_mgr.py" name="av_cam_mgr" output="log"/>

	<!-- AntoSupervisor -->
	<node if="true" pkg="anto_supervisor" type="anto_supervisor.py" name="anto_supervisor" output="log"/>
	
	<!-- Mileage tracker -->
	<node if="false" pkg="am_nav_analysis" type="am_mileage_tracker.py" name="am_mileage_tracker" />
	
    <!-- pointcloud to laser nodes (robot)-->
    <include if="true" file="$(find am_nav)/launch/pointcloud_to_laser.launch"></include>

</launch>
