<!--
# Copyright (c) 2023, ANTOBOT LTD.
# All rights reserved.

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 
# # # Code Description:   The primary purpose of this launch file is to launch different sensors. 
# Contact: soyoung.kim@antobot.ai
# # # #  # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-->


<launch>

    <!-- RTK-GNSS launch -->
    <node if="false" pkg="antobot_gps" type="gps_base_station.py" name="rtk_gnss" />
    <node if="true" pkg="antobot_gps" type="gps_ppp.py" name="gps_ppp" />

    <!-- BOSCH IMU launch -->
    <include if="true" file="$(find imu_bno055)/launch/imu.launch" />

    <!-- Leishen 3d lidar launch (front:C32 back:C16) -->
    <include if="true" file="$(find antobot_navigation)/launch/lslidar_double_c32_c16.launch" />

</launch>
