<!-- Copyright (c) 2023, ANTOBOT LTD.
# All rights reserved.

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 

Description: 	The primary purpose of this launch file is to launch move base node for gazebo simulation. 
                This launch file launches the path planner algorithm and defines the  
                parameter for different planners

Contacts: 	soyoung.kim@antobot.ai -->



<launch>

   <master auto="start"/>
    
    <!-- assigning the rostopics to appropriate vairables -->
    <arg name="cmd_vel_topic" default="/antobot_navigation/cmd_vel" />
    <arg name="odom_topic" default="/odometry/filtered" />
    <arg name="move_forward_only" default="false"/>
    
    <!-- defining different planners -->
    <!-- <arg name="base_local_planner" default="eband_local_planner/EBandPlannerROS"/> -->
    <arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>
    <!-- <arg name="base_local_planner" default="base_local_planner/TrajectoryPlannerROS"/> -->
    <arg name="base_global_planner" default="global_planner/GlobalPlanner"/>
    <!-- <arg name="base_global_planner" default="carrot_planner/CarrotPlanner"/> -->


   <!--defines the parameters for different costmaps and move_base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="log" launch-prefix="taskset -c 0,1,2,3,4,5">
        <param name="base_local_planner" value="$(arg base_local_planner)"/>
        <param name="base_global_planner" value="$(arg base_global_planner)"/>  
        <rosparam file="$(find antobot_navigation)/params/costmap_common_params_sim.yaml" command="load" ns="global_costmap" /> 
        <rosparam file="$(find antobot_navigation)/params/costmap_common_params_sim.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find antobot_navigation)/params/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find antobot_navigation)/params/global_costmap_params.yaml" command="load" /> 
        <rosparam file="$(find antobot_navigation)/params/base_planners_params.yaml" command="load" />
        <rosparam file="$(find antobot_navigation)/params/move_base_params.yaml" command="load" />
        <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
        <remap from="odom" to="$(arg odom_topic)"/>
    </node>

</launch> 
