<!--
# Copyright (c) 2023, ANTOBOT LTD.
# All rights reserved.

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 
# # # Code Description:   The primary purpose of this launch file is to launch pointcloud_to_laserscan nodes for front
#           and back zed cameras in gazebo simulation. Laserscan output is used in costmap_2d.
# Contact: soyoung.kim@antobot.ai
# # # #  # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-->

<launch>
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_back">
      <remap from="cloud_in" to="/mobile_base/zed2_back/point_cloud/cloud_registered"/>
      <remap from="scan" to="/camera/scan/back" />
      <rosparam>
        target_frame: zed2_back_camera_center
        transform_tolerance: 0.01
        min_height: -0.2
        max_height: 1.0
        
        angle_min: -3.14
        angle_max: 3.14
        angle_increment: 0.0087
        scan_time: 0.3333
        range_min: 0.45
        range_max: 20.0
        use_inf: true
        
        #concurrency_level affects number of pc queued for processing and the number of threadsused
        # 0: Detect number of cores
        # 1: Single threaded
        # 2: inf : Parallelism level
        concurrency_level: 1
      </rosparam>
    </node>

    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_front">
      <remap from="cloud_in" to="/mobile_base/zed2_front/point_cloud/cloud_registered"/>
      <remap from="scan" to="/camera/scan/front" />
      <rosparam>
        target_frame: zed2_front_camera_center
        transform_tolerance: 0.01
        min_height: -0.2
        max_height: 1.0
        
        angle_min: -3.14
        angle_max: 3.14
        angle_increment: 0.0087
        scan_time: 0.3333
        range_min: 0.45
        range_max: 20.0
        use_inf: true
        
        #concurrency_level affects number of pc queued for processing and the number of threadsused
        # 0: Detect number of cores
        # 1: Single threaded
        # 2: inf : Parallelism level
        concurrency_level: 1
      </rosparam>
    </node>
</launch>