<?xml version="1.0"?>

<model>
  <name>windsor_tree_2</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Will Eaton</name>
    <email>william.eaton@antobot.ai</email>
  </author>

  <description>
    A tree model - sourced from https://opengameart.org/content/fox-trees-pack
  </description>

</model>
