<?xml version="1.0" ?>

<!--
# Copyright (c) 2023, ANTOBOT LTD.
# All rights reserved.

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 
# # # Code Description:     URDF for AntoBot Ant v4 (using ant_v3 dae for body) - currently only white robot with narrow wheel base
# Contact: william.eaton@antobot.ai
# # # #  # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-->

<robot name="antobot_ant" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Need argument to get from launch file -->
  <xacro:arg name="params_path" default="../config/platform_config.yaml"/> 

  <!-- Need seperate property for xacro inorder processing -->
  <xacro:property name="params_path" value="$(arg params_path)"/> 

  <!-- Read in the yaml dict as mp (short for model parameters) currently used for C16 angle-->
  <xacro:property name="mp" value="${xacro.load_yaml(params_path)}"/> 

  <!-- Ant Robot -->
  <xacro:macro name="antobot_ant">
    <xacro:property name="M_PI" value="3.1415926535897931" /> 
    
    <!-- Base link -->
    <link name="base_link" />
    <link name="robot_base_link">
      <visual>
        <geometry>
          <mesh filename="package://antobot_description/meshes/ant_v3_body.dae" scale="1 1 1"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </visual>
      <collision>
       <geometry>
          <mesh filename="package://antobot_description/meshes/ant_v3_body.dae" scale="1 1 1"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
      <inertial>
        <origin xyz="0 0 0"/>
        <mass value="50"/>
        <inertia ixx="1.219624785" ixy="0.0" ixz="-0.984790199"
                 iyy="2.134816831" iyz="0.0"
                 izz="2.304314375" />
      </inertial>
    </link>
    
    <joint name="robot_base_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="base_link"/>
      <child link="robot_base_link" />
    </joint>

 
    <!-- Wheels link -->
    
    <xacro:include filename="$(find antobot_description)/urdf/ant_wheel.urdf.xacro"/>
    <xacro:ant_wheel name='left_front' originX='0.26' originY='0.26' originZ='-0.013975' rotZ='${M_PI}' centreOffset='0.06'/>
    <xacro:ant_wheel name='left_rear' originX='-0.26' originY='0.26' originZ='-0.013975' rotZ='${M_PI}' centreOffset='0.06'/>
    <xacro:ant_wheel name='right_rear' originX='-0.26' originY='-0.26' originZ='-0.013975' rotZ='0' centreOffset='-0.06'/>
    <xacro:ant_wheel name='right_front' originX='0.26' originY='-0.26' originZ='-0.013975' rotZ='0' centreOffset='-0.06'/>


    <gazebo>
      <plugin
        filename="ignition-gazebo-diff-drive-system"
        name="ignition::gazebo::systems::DiffDrive">
        <left_joint>wheel_left_front_joint</left_joint>
        <left_joint>wheel_left_rear_joint</left_joint>
        <right_joint>wheel_right_front_joint</right_joint>
        <right_joint>wheel_right_rear_joint</right_joint>
        <wheel_separation>1.25</wheel_separation>
        <wheel_radius>0.3</wheel_radius>
        <odom_publish_frequency>1</odom_publish_frequency>
        <publish_odom>true</publish_odom>
        <odom_topic>/odom</odom_topic>
        <odom_frame>odom</odom_frame>
        <robot_base_frame>base_link</robot_base_frame>
        <max_linear_acceleration>1</max_linear_acceleration>
        <min_linear_acceleration>-1</min_linear_acceleration>
        <max_angular_acceleration>2</max_angular_acceleration>
        <min_angular_acceleration>-2</min_angular_acceleration>
        <max_linear_velocity>2.0</max_linear_velocity>
        <min_linear_velocity>-2.0</min_linear_velocity>
        <max_angular_velocity>1</max_angular_velocity>
        <min_angular_velocity>-1</min_angular_velocity>
      </plugin>


      <plugin
        filename="ignition-gazebo-joint-state-publisher-system"
        name="ignition::gazebo::systems::JointStatePublisher">
      </plugin>



    </gazebo>



    <xacro:property name="role" value="${mp['robot_role']}" />
    
    <xacro:if value="${role == 'UV'}">
      <!-- UV Frame link -->
      <link name="uvFrame">
        <visual>
          <geometry>
            <mesh filename="package://antobot_description/meshes/uvFrame.dae" scale="1 1 1"/>
          </geometry>
          <origin xyz="0 0 0" rpy="0 0 0"/>
        </visual>
        <collision>
        <geometry>
            <mesh filename="package://antobot_description/meshes/uvFrame.dae" scale="1 1 1"/>
          </geometry>
          <origin xyz="0 0 0" rpy="0 0 0"/>
        </collision>
      </link>
      
      <joint name="uvFrame_joint" type="fixed">
        <origin xyz="0 0 0.01" rpy="0 0 0" />
        <parent link="robot_base_link"/>
        <child link="uvFrame" />
      </joint>
    </xacro:if>
 
  
    <!-- ROS2 Humble doesn't support xacro:for yet - use if statements instead -->
    <xacro:property name="robot_hardware"  value="${mp['robot_hardware']}"/>
    <xacro:property name="lidars" value="${mp['lidar']}" />

    <!-- Lidar 1 -->
    <xacro:if value="${1 in lidars}">
      <xacro:property name="lidar1" value="${lidars[1]}"/>
      <xacro:property name="type1" value="${lidar1['type']}"/>
      <xacro:property name="device_id"  value="${lidar1['device_id']}"/>

      <!-- Include URDF for that lidar type -->
      <xacro:include filename="$(find antobot_description)/urdf/c16.urdf.xacro"/>
      <xacro:c16 link_prefix="" joint_prefix="" position="${device_id}" robot_hardware="${robot_hardware}"/>
      <xacro:c16_gazebo robot_ns="" position="${device_id}"/>


      <!-- Fixed transform for Lidar 1 -->
      <joint name="lidar_${type1}_1_joint_${device_id}" type="fixed">
        <parent link="robot_base_link"/>
        <child link="lidar_${device_id}_link"/>
        <origin
          xyz="${lidar1['px']} ${lidar1['py']} ${lidar1['pz']}"
          rpy="${lidar1['r']} ${lidar1['p']} ${lidar1['y']}"/>
      </joint>
    </xacro:if>


    <!-- Lidar 2 -->
    <xacro:if value="${2 in lidars}">
      <xacro:property name="lidar2" value="${lidars[2]}"/>
      <xacro:property name="type2" value="${lidar2['type']}"/>
      <xacro:property name="device_id"  value="${lidar2['device_id']}"/>


      <xacro:include filename="$(find antobot_description)/urdf/c16.urdf.xacro"/>
       <xacro:c16 link_prefix="" joint_prefix="" position="${device_id}" robot_hardware="${robot_hardware}"/>
      <xacro:c16_gazebo robot_ns="" position="${device_id}"/>


      <joint name="lidar_${type2}_2_joint_${device_id}" type="fixed">
        <parent link="robot_base_link"/>
        <child link="lidar_${device_id}_link"/>
        <origin
          xyz="${lidar2['px']} ${lidar2['py']} ${lidar2['pz']}"
          rpy="${lidar2['r']} ${lidar2['p']} ${lidar2['y']}"/>
      </joint>
    </xacro:if>


    <!-- GPS -->
    <joint name="gps_joint" type="fixed">
      <parent link="robot_base_link"/>
      <child link="gps_frame"/>
      <origin xyz="${mp['gps']['urcu']['px']} ${mp['gps']['urcu']['py']} ${mp['gps']['urcu']['pz']}" rpy="${mp['gps']['urcu']['r']} ${mp['gps']['urcu']['p']} ${mp['gps']['urcu']['y']}"/> 
    </joint>
    <link name="gps_frame">
      <inertial>
        <mass value="0.270" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="2.632e-4" ixy="0" ixz="0" iyy="2.632e-4" iyz="0" izz="1.62e-4" />
      </inertial>	
    </link>

    <gazebo reference="gps_frame">
      <sensor name="gps_sensor" type="gps">
        <pose>0 0 1 0 0 0</pose> <!-- adjust height as needed -->
        <gps>
          <horizontal_position_accuracy>1.0</horizontal_position_accuracy>
          <vertical_position_accuracy>1.5</vertical_position_accuracy>
          <position_sensing>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.5</stddev>
            </noise>
          </position_sensing>
        </gps>
        <plugin name="ignition::gazebo::systems::NavSat"
                filename="ignition-gazebo-navsat-system">
          <topic>/gps/fix</topic>
          <frame_id>gps_frame</frame_id>
        </plugin>
      </sensor>
    </gazebo>

  

    <!-- imu -->
    <joint name="imu_joint" type="fixed">
      <parent link="base_link"/>
      <child link="imu_frame"/>
      <origin xyz="-0.1146 -0.01941 0.1832" rpy="0 0 0"/>
    </joint>

    <link name="imu_frame">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.270" />
        <inertia ixx="0.0002632" ixy="0.0" ixz="0.0" iyy="0.0002632" iyz="0.0" izz="0.000162" />
      </inertial>
    </link>

    <gazebo reference="imu_frame">
      <sensor type="imu" name="imu_sensor">
        <always_on>true</always_on>
        <update_rate>100.0</update_rate>
        <visualize>true</visualize>
        <imu>
          <topic>/imu/data</topic>
          <orientation_reference_frame>ENU</orientation_reference_frame>
        </imu>
        <plugin name="ignition::gazebo::systems::Imu"
                filename="ignition-gazebo-imu-system">
          <topic>/imu/data</topic>
          <frame_id>imu_frame</frame_id>
        </plugin>
      </sensor>
    </gazebo>

   
    <!-- Ultrasonics-->

    <!-- Actual sensors output on combined topic /antobridge/uss_dist -->

    <xacro:include filename="$(find antobot_description)/urdf/ultrasonic.urdf.xacro"/>
    <xacro:ultrasonic id="1" xyz="0.6066 0.2866 0.2835" rpy="0 0 0.785398" />
    
    <xacro:include filename="$(find antobot_description)/urdf/ultrasonic.urdf.xacro"/>
    <xacro:ultrasonic id="2" xyz="0.732599 0.08 0.277043" rpy="0 0 0" />

    <xacro:include filename="$(find antobot_description)/urdf/ultrasonic.urdf.xacro"/>
    <xacro:ultrasonic id="3" xyz="0.6066 -0.2866 0.2835" rpy="0 0 -0.785398" />

    <xacro:include filename="$(find antobot_description)/urdf/ultrasonic.urdf.xacro"/>
    <xacro:ultrasonic id="4" xyz="-0.0075 -0.312247 0.284043" rpy="0 0 -1.5708" />

    <xacro:include filename="$(find antobot_description)/urdf/ultrasonic.urdf.xacro"/>
    <xacro:ultrasonic id="5" xyz="-0.621588 -0.286588 0.283543" rpy="0 0 -2.35619" />

    <xacro:include filename="$(find antobot_description)/urdf/ultrasonic.urdf.xacro"/>
    <xacro:ultrasonic id="6" xyz="-0.747596 -0.08 0.277043" rpy="0 0 3.14159" />

    <xacro:include filename="$(find antobot_description)/urdf/ultrasonic.urdf.xacro"/>
    <xacro:ultrasonic id="7" xyz="-0.621588 0.286589 0.283543" rpy="0 0 2.35619" />

    <xacro:include filename="$(find antobot_description)/urdf/ultrasonic.urdf.xacro"/>
    <xacro:ultrasonic id="8" xyz="-0.0075 0.312247 0.284043" rpy="0 0 1.5708" />



    <!-- For scouting - left -->
    <joint name="scouting_joint_left" type="fixed">
      <origin xyz="0.641 0.03 0.6" rpy="-${pi/2} 0.0 0.0"/>
      <parent link="robot_base_link"/>
      <child link="scouting_frame_left"/>
    </joint>

    <link name="scouting_frame_left"/>

    <!-- For scouting - right -->
    <joint name="scouting_joint_right" type="fixed">
      <origin xyz="0.641 0.03 0.6" rpy="${pi/2} ${pi} 0.0"/>
      <parent link="robot_base_link"/>
      <child link="scouting_frame_right"/>
    </joint>

    <link name="scouting_frame_right"/>
    

  </xacro:macro>
  <xacro:antobot_ant/>
</robot>
