<!--
# Copyright (c) 2023, ANTOBOT LTD.
# All rights reserved.

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 

# # # Code Description:     Launches all the necessary files and nodes for basic operation and movement of the ant robot.
                            This includes everything between the final command velocity (after safety considerations from antobot_safety)
                            and Aurix (including anto_bridge)

# Contact: daniel.freer@antobot.ai

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-->

<launch>
  
  <!-- Defines the robot in ROS -->
  <rosparam file="$(find antobot_description)/config/control_ant_v2.yaml" command="load"/>


  <!-- Launches the robot controller node -->
  <node if="true" name="antobot_control" pkg="antobot_base" type="antobot_control_node" output="log" />
  <node if="true" name="anto_bridge" pkg="anto_bridge" type="anto_bridge_node" output="log" />


  <!-- Spawns the controllers for the robot -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/"
		args="
			/antobot_joint_state_publisher
			/antobot_robot
		"/>

</launch>
